$white-95: #ffffffF2;

$grey-regular: #3B3B3B;
$grey-hover:   #626262;
$grey-active:  #767676;

$black-20: #00000033;
$black-40: #00000066;

$brand:       #6243E6; // active for outline & ghost
$brand-hover: #6D4AFF; // hover text/border

$icon-hover-bg: #F5F5F5;
$icon-active-bg:#EBE6FF;
