/* Block */
.inline-divider {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.inline-divider__part {
  color: inherit;
}

.inline-divider__sep {
  color: #0000004d;
  line-height: 1;
  user-select: none;
}
